<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <h2>Add Ticker</h2>
    <br />

    <form method="post">
        {% csrf_token %}
        <label>Name </label>
        <input type="text" name="name" id="name" placeholder="Name" />
        <br /><br />
        <label>Ticker </label><input type="text" name="ticker" id="ticker" placeholder="Ticker" />
        <br />  <br />
        <input type="submit" />

    </form>

</body>
</html>